#header {
    background-color: var(--color-text);
    position: fixed; /* Cambiado de relative a fixed */
    width: 100%;
    top: 0; /* Fija en la parte superior */
    left: 0;
    right: 0;
    z-index: 1000; /* Aumentado para asegurar que esté sobre otros elementos */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra opcional para destacar */
}

#header h1 {
    color: var(--color-text-altern);
    font-weight: var(--font-bold);
    font-size: 2rem;
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--color-text-altern);
    transition: color 0.5s;
    position: relative;
    padding: 0.5rem 1rem;
}

nav a:hover {
    color: var(--color-text-hover);
}

nav a::after {
    content: "";
    background-color: var(--color-text-hover);
    height: 2px;
    width: 0;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.5s;
}

nav a:hover::after {
    width: 100%;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.hamburguer {
    display: none; /* Oculto en desktop */
    flex-direction: column;
    cursor: pointer;
    gap: 4px; /* Espacio entre barras */
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--color-text-altern); /* Blanco o alterno */
    transition: 0.3s; /* Para animación opcional */
}

@media screen and (max-width: 768px) {
    #header .container {
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem 20px;
    }

    #header h1 {
        margin-bottom: 1rem;
    }

    nav {
        width: 100%;
        justify-content: center;
    }

    .nav-links {
        display: none; /* Oculta en móvil */
        flex-direction: column;
        position: relative;
        top: 100%; /* Debajo del header fijo */
        left: 0;
        width: 100%;
        background: var(--color-text);
        padding: 1rem;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0 0 10px 10px; 
    }
    .nav-links.active {
        display: flex; /* Muestra al activar */
    }
    .hamburguer {
        display: flex; /* Visible en móvil */
    }
}

.hamburguer.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.hamburguer.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburguer.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
}